table{
	text-align: center;
	border-collapse: collapse;
	
	
	
}
th{
	padding: 5px;
}

.content{
	
	background-color: #EEE9E9;/*#F5F5F5;*/
	padding: 20px 150px;
	padding-bottom: 40px;
	
	
}
td{
	padding: 5px 10px;
}
.row{
	background-color: #F5F5F5;
}
.row2{
	background-color: #EEEEE0;/*#DCDCDC;*/
}